// 처음 접속하면 스타일드컴포넌트의 css가 먹지 않는 현상이 있다. 이건 스타일드컴포넌트도 클라이언트사이드 랜더링되어서 그렇다.
// 그래서 스타일드컴포넌트 CSS도 서버사이드랜더링해야 이 현상을 고칠 수 있다.
// next는 내부적으로 webpack과 babel을 알아서 돌려주는데 babel 설정을 하면서 이 문제를 어느정도 해결할 수 있다.
// 바벨만으로 완벽하게 SSR이 해결되는 건 아니다. 스타일드컴포넌트의 SSR을 위한 한 단계로 보면 된다.
// .babelrc 파일을 만들어서 설정해준다.
{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true // 개발모드에서 컴포넌트 이름이 자연스럽게 바뀐다.
      }
    ]
  ]
}